.mouse-animation {
    width: 2.5rem;
    height: 4rem;
    border: 2px solid rgb(var(--color-text-2));
    border-radius: 100px;
    position: relative;
    overflow: hidden;

    &::before {
        content: '';
        height: 5px;
        width: 5px;
        background-color: rgb(var(--color-text-2));
        position: absolute;
        top: 7px;
        left: 50%;
        border-radius: 50%;
        transform: translateX(-50%);
        animation-name: wheel;
        animation-duration: 1.3s;
        animation-iteration-count: infinite;
    }


}

@keyframes wheel {
    0% {
        top: 7px;
        opacity: 1;
    }

    100% {
        top: 70%;
        opacity: 0;
    }
}