.form-input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
    .form-input {
        width: 100%;
        color: rgb(var(--color-text-2));
        padding: 2rem;
        font-size: inherit;
        font-weight: 600;
        font-family: inherit;
        background-color: rgb(var(--color-background-5));
        outline: none;
        border-radius: 5px;
        border: 1px solid rgb(var(--color-background-6));
        resize: none;
        

        &::placeholder {
            opacity: .8;
            font-size: inherit;
            font-weight: 600;
        }
    }

    label {
        text-transform: capitalize;
        color: rgb(var(--color-text-1));
        font-weight: 700;
        font-size: 1.4rem;
        margin-bottom: 1rem;
        letter-spacing: 1px;
    }
}